<template>
    <v-app>
        <div v-for="(post, index) in posts" :key="index">
         <h2> <nuxt-link :to="{name:'post-id', params: {id: post.id}}" >{{post.title}}</nuxt-link></h2>    
        <div>{{post.body}}</div>
        </div>
    </v-app>
</template>
<script>
export default {
    data(){
      return {
        posts: []
      }
    },
    mounted () {
      this.getPosts()
    },

  methods:{
    getPosts () {
      const url = '/posts/'
      let self = this
      this.$axios.get(url)
        .then (function(response) {
          self.posts = response.data.data
        })
    },
}
}
</script>>