<template>
    <v-card
        class="mx-auto"
        max-width="434"
        tile
        flat
    >
        <h1 class="text-center">About Me</h1>
        <v-row
          align="end"
          class="fill-height"
        >
          <v-col
            align-self="start"
            class="pa-0"
            align="center"
            justify = "center"
            cols="12"
          >
            <v-avatar
              class="profile"
              color="grey"
              size="164"
            >
              <v-img src="https://cdn.vuetifyjs.com/images/profiles/marcus.jpg"></v-img>
            </v-avatar>
           </v-col>
           <v-col>
                <v-container>
                <p>The v-avatar component is typically used to 
                display circular user profile pictures. 
                This component will allow you to dynamically size 
                and add a border radius of responsive images,
                icons, and text.
              </p>
              <div align="center" justify ="center">
              <v-btn color="primary" text >
                Ready my story
                <v-icon> mdi-arrow-right</v-icon>
              </v-btn>
              </div>
            </v-container>
         </v-col>
        </v-row>
    </v-card>
</template>