<template>
  <div>
    <v-row >
      <v-col  cols="12" sm="6">
        <v-img src="https://picsum.photos/510/300?random" aspect-ratio="1.7"></v-img>
      </v-col>
      <v-col cols="12" sm="6">
        <span style="color:blue">  {{userName}} - {{CreatedAt}} </span>
        <h2> {{title}} </h2>
        <p> {{body}} </p>
        <v-btn rounded  @click="$router.push({name: 'post-id', params: {id: id}})" color="primary"> Continue Reading </v-btn>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
props: {
  title: {
    type: String,
    default: ''
  },
  userName: {
    type:String,
    default:''
  },
  CreatedAt:{
    type:String,
    default:''
  },
  body: {
    type: String,
    default:''
  },
  id: {
    type:Number,
    default:''
  }
}
  
}
</script> 