<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                    Blog Today {{ new Date().toJSON().slice(0,10).replace(/-/g,'/') }}
                    <hr />
            </v-col>
        </v-row>
    </v-container>
</template>