<template>
  <v-data-table
    :headers="headers"
    :items="items"
    sort-by="name"
    class="elevation-1"
    :item-key="items.id"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title
          v-text="listTitle"
        >
        </v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          dark
          class="mb-2"
          @click="$emit('add')"
        >
          Add New  Post
        </v-btn>
      </v-toolbar>
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="$emit('edit', item)"
      >
        mdi-table-edit
      </v-icon>
      <v-icon
        small
        @click="$emit('delete', item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>
<script>
  export default {
    props: {
      headers: {
        type: Array,
        required: true
      },
      items: {
        type: Array,
        required: true
      },
      listTitle: {
        type: String,
        required: true
      },
    },
  }
</script>
