<template>
  <v-container>
    <div>
      <v-row no-gutters  v-if="loading">
        <v-col cols="12" md="11">
            <h1> {{post.title}} </h1>
            <span class="subtitle-2" style="color:blue" > By: {{post.user.name}} </span>          
        </v-col>
        <v-col cols="12" md="1" v-if="authenticated">
          <div v-if="user.id ===post.user.id">
            <v-dialog
              v-model="deleteDialog"
              width="400"
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  text
                  v-on="on"
                  color="primary"
                >
                  Delete
                </v-btn>
              </template>
              <v-card>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        Are you sure you want to delete this ?
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="closeDeleteDialog"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="deletePost"
                  >
                    Delete
                  </v-btn>
                </v-card-actions>
              </v-card>
          </v-dialog>
            <v-dialog
              v-model="dialog"
              width="400"
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  text
                  v-on="on"
                  color="primary"
                  @click="editPost"
                >
                  Publish
                </v-btn>
              </template>
              <v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Title"
                  v-model="editedItem.title"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="body"
                  v-model="editedItem.body"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  :items="ArticleType"
                  v-model="editedItem.publish"
                  label="Select Article Type"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="submitData"
          >
            Save
          </v-btn>
        </v-card-actions>
              </v-card>
          </v-dialog>
          </div>
        </v-col>
      </v-row>
      <hr/>
      <p> Posted on : {{post.created_at}} </p>
      <hr/>
      <div class="mt-4 mb-4">
        <v-img src="https://picsum.photos/510/300?random" aspect-ratio="2.8"></v-img>
      </div>
        <hr/>
        <p class="mt-4"> {{post.body}} </p>
    </div>
  </v-container>
</template>
<script>
export default {
    middleware: ['auth'],
    data(){
        return {
            dialog: false,
          ArticleType:['public','private'],
            deleteDialog: false,
            post: [],
            loading: false,
            editedItem: {
              title: '',
              body: '',
              publish: null,
            },
        }
    },
      async mounted () {
      await this.getPosts()
    },
    methods: {
            close () {
        this.dialog = false
        this.url = ''
      },
        editPost (value) {
          this.dialog = true
          this.addItem = false
          this.editItem = true
          this.editedItem  = Object.assign({}, value)
          this.editedItemid = value.id
        },
        getPosts () {
          const url = `/posts/${this.$route.params.id}`
          let self = this
          this.$axios.get(url)
            .then (function(response) {
              self.post = response.data.data
              self.loading = true
            })
        },

        closeDeleteDialog () {
          this.deleteDialog = false
        },
        deletePost () {
          const url = `/posts/${this.$route.params.id}`
          let self = this
          this.$axios.delete(url)
            .then(function (response) {
              self.$toast('Post deleted successfully.')
            })
            this.$router.push('/')
            .catch(function (error) {
              self.$toast.error('There was a problem.')
            })
            .finally(function() {
              self.deleteDialog = false
            })
        },
          submitData () {
            let self = this
            const updateUrl = `/posts/${this.$route.params.id}`
            this.$axios.patch(updateUrl, this.editedItem)
            .then(function (response) {
              self.$toast('post updated successfully.')
              self.getData()
              self.close()
            })
            .catch(function (error) {
              self.$toast.error('There was a problem.')
            })
        }
      },
    }
</script>