<template>
  <v-container>
    <Date />
    <v-row>
      <v-col cols="12" sm="8">
          <v-row  v-for="(post, index) in posts" :key="index" >
            <v-col  cols="12" sm="6">
              <v-img src="https://picsum.photos/510/300?random" aspect-ratio="1.7"></v-img>
            </v-col>
            <v-col cols="12" sm="6">
              <span style="color:blue">  {{post.user.name}} - {{post.created_at}} </span>
              <h2> {{post.title}} </h2>
              <p> {{post.body}} </p>
              <v-btn rounded  @click="$router.push({name: 'privatepost-id', params: {id: post.id}})" color="primary"> Continue Reading </v-btn>
            </v-col>
          </v-row>
      </v-col>
      <v-col cols="12" sm="4">
        <About />
        <v-row>
        <v-col>
          <h4>SEARCH</h4>
            <v-text-field
            label="Search"
            outlined
            prepend-inner-icon="mdi-account-search"
            dense
          ></v-text-field>
        </v-col>
      </v-row>
      <v-col>
        <v-container>
          <h1>add</h1>
        </v-container>
      </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import About from '@/components/about'
import Date from '@/components/date'
import Card from '@/components/Card'
export default {
  components: {
    Date,
    Card,
    About
  },
    data(){
      return {
        posts: []
      }
    },
    mounted () {
      this.getPosts()
    },

  methods:{
    getPosts () {
      const url = '/privatePost/'
      let self = this
      this.$axios.get(url)
        .then (function(response) {
          self.posts = response.data.data
        })
    },
  }
}
</script>