<template>
  <v-container>
    <div>
      <v-row no-gutters>
        <v-col cols="12" md="11">
            <h1> {{post.title}} </h1>
            <span class="subtitle-2" style="color:blue" > By: {{post.user.name}} </span>          
        </v-col>
        <v-col cols="12" md="1" v-if="authenticated">
          <div v-if="user.id ===post.user.id">
            <v-dialog
              v-model="deleteDialog"
              width="400"
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  text
                  v-on="on"
                  color="primary"
                >
                  Delete
                </v-btn>
              </template>
              <v-card>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        Are you sure you want to delete this ?
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="closeDeleteDialog"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="deletePost"
                  >
                    Delete
                  </v-btn>
                </v-card-actions>
              </v-card>
          </v-dialog>
          </div>
        </v-col>
      </v-row>
      <hr/>
      <p> Posted on : {{post.created_at}} </p>
      <hr/>
      <div class="mt-4 mb-4">
        <v-img :src="`http://localhost:8000/storage/images/images/${post.image[0].images}`" aspect-ratio="2.8"></v-img>     
      </div>
        <hr/>
        <p class="mt-4" v-html="post.body">  </p>
    </div>
    <hr/>
    <div style="color:blue" display-3>
      <v-icon>mdi-chat</v-icon> 
        Comments
    </div>
    <v-row v-for="comment in comments" :key="comment.id">
      <v-col cols="12">
        <v-card height="max-auto" flat>
          <v-row no-gutters>
            <v-col cols="12" sm="1" md="1">
              <v-avatar color="indigo">
                <v-icon dark>mdi-account-circle</v-icon>
              </v-avatar>
            </v-col>
            <v-col cols="12" sm="11">
              <v-card color="grey lighten-2">
                <div  class="font-weight-black"> {{comment.user.name}} </div>
                <p> {{comment.body}} </p>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    
    <div v-if="authenticated">
      <v-textarea
        background-color="grey lighten-2"
        color="cyan"
         v-model="body"
        label="Enter your Comment"
      ></v-textarea>
      <div>
        <v-btn @click="create" color="primary" dark>Submit</v-btn>
      </div>
    </div>
    <div v-else>
      <v-alert type="warning">
        You must Logged in for comment in this post
      </v-alert>
    </div>
  </v-container>
</template>
<script>
export default {
    data(){
        return {
            deleteDialog: false,
            post: '',
            comments:'',
              body:'',
        }
    },
    async asyncData({$axios, params}){
        const {data} = await $axios.$get(`/posts/${params.id}`)
        return {
            post: data,
            comments: data.comments
        }
    },
    methods: {
       async create(){
         let url = `/posts/${this.$route.params.id}/comment`
          let self = this
          this.$axios.post(url,{body: this.body} )
            .then (function(response) {
              self.$toast('Post added successfully')
                window.location.reload()
            })
          .catch(function (error) {
            self.$toast.error('There was a problem.')
          })
        },
        closeDeleteDialog () {
          this.deleteDialog = false
        },
        deletePost () {
          const url = `/posts/${this.$route.params.id}`
          let self = this
          this.$axios.delete(url)
            .then(function (response) {
              self.$toast('Post deleted successfully.')
            })
            this.$router.push('/')
            .catch(function (error) {
              self.$toast.error('There was a problem.')
            })
            .finally(function() {
              self.deleteDialog = false
            })
        },
    }
}
</script>