<template>
    <div>
     <v-alert
        border="right"
        color="blue-grey"
       dark
       align= "center"
      >
        Welcome to your dashboard {{user.name}}
      </v-alert>
    <list
      :headers="headers"
      :items="postApi"
      :list-title="listTitle"
      @edit="editPost"
      @delete="deletePostDetails"
      @add="addNewPost"
    />
      <v-dialog
      v-model="deleteDialog"
      width="400"
    >
      <v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                Are you sure you want to delete this ?
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="closeDeleteDialog"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
           @click="deletePost"
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-card
        v-if="addItem || editItem"
      >
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Title"
                  v-model="editedItem.title"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <Editor :content = "editedItem.body"/>
              </v-col>
              <v-col cols="12">
                <v-file-input
                  label="File input"
                  filled
                  prepend-icon="mdi-camera"
                  v-model="editedItem.file"
              ></v-file-input>
              </v-col>
              <v-col cols="12">
                <v-select
                  :items="ArticleType"
                  v-model="editedItem.publish"
                  label="Select Article Type"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="submitData"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import list from '@/components/list'
import Editor from '@/components/editor'
export default {
  middleware:['auth'],
    components:{
        list,
        Editor
    },
       data () {
      return {
        dialog: false,
        deleteDialog: false,
        url: '',
        headers: [
          { text: 'Title', value: 'title' },
          { text: 'Body', value: 'body' },
          { text: 'Publish', value: 'publish' },
          { text: 'Actions', value: 'actions', sortable: false },
        ],
        listTitle: 'Post',
        ArticleType:['public','private'],
        editItem: false,
        addItem: false,
        deleteItem: false,
        editedItem: {
          title: '',
          body: '',
          file:'',
          publish: null,
        },
        postApi: [],
        deleteItemId: null,
      }
    },
    computed: {
      formTitle () {
        return this.editItem ? 'Edit Post' : 'Add  Post'
      }
    },
    created () {
      this.getData()
    },
    methods: {
      editPost (value) {
        this.dialog = true
        this.addItem = false
        this.editItem = true
        this.editedItem  = Object.assign({}, value)
        this.editedItemid = value.id
      },
      deletePostDetails (value) {
        this.addItem = false
        this.editItem = false
        this.dialog = false
        this.deleteItem = true
        this.deleteDialog = true
        this.deleteItemId = value.id
      },
      addNewPost() {
        this.dialog = true
        this.editItem = false
        this.addItem = true
        this.editedItem = Object.assign({}, null)
      },
      close () {
        this.dialog = false
        this.url = ''
      },
      getData () {
        const url = '/post/'
        let self = this
        this.$axios.get(url)
          .then (function(response) {
            self.postApi = response.data.data
          })
      },
      submitData () {
        const url = '/posts/'
                   const config = {
               headers: { 'content-type': 'multipart/form-data' }
          }
        let self = this
        let formData = new FormData()
        formData.append('images', this.editedItem.file)
        formData.append('title', this.editedItem.title)
        formData.append('body', this.editedItem.body)
        formData.append('publish', this.editedItem.publish)
        if(this.editItem) {
          const updateUrl = `/posts/${this.editedItemid}`
          this.$axios.post(updateUrl, formData)
            .then(function (response) {
              self.$toast('post updated successfully.')
              self.getData()
              self.close()
            })
            .catch(function (error) {
              self.$toast.error('There was a problem.')
            })
        } else {
          this.$axios.post(url, formData,config)
            .then(function (response) {
              self.$toast('post added successfully.')
              self.getData()
              self.close()
            })
            .catch(function (error) {
              self.$toast.error('There was a problem.')
            })
        }
      },
      deletePost () {
        const url = '/posts/' + this.deleteItemId
        let self = this
        this.$axios.delete(url)
          .then(function (response) {
            self.$toast('Post deleted successfully.')
            self.getData()
          })
          .catch(function (error) {
            self.$toast.error('There was a problem.')
          })
          .finally(function() {
            self.deleteDialog = false
          })
      },


      closeDeleteDialog () {
        this.deleteDialog = false
      }
    }
  }
</script>