<template>
  <v-container>
    <Date />
    <v-row>
      <v-col cols="12" sm="8" >
        <div  v-for="(post, index) in posts" :key="index">
        <Card
          class="grey lighten-5"
          :title="post.title"
          :userName="post.user.name"
          :body="post.body"
          :CreatedAt="post.created_at"
          :id ="post.id"
        />
        </div>  
      </v-col>
      <v-col cols="12" sm="4">
        <About />
        <v-row>
        <v-col>
          <h4>SEARCH</h4>
            <v-text-field
            label="Search"
            outlined
            prepend-inner-icon="mdi-account-search"
            dense
          ></v-text-field>
        </v-col>
      </v-row>
      <v-col>
        <v-contain>
          <h3>Add</h3>
        </v-contain>
      </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import About from '@/components/about'
import Date from '@/components/date'
import Card from '@/components/Card'
export default {
  components: {
    Date,
    Card,
    About
  },
    data(){
      return {
        posts: []
      }
    },
    mounted () {
      this.getPosts()
    },

  methods:{
    getPosts () {
      const url = '/posts/'
      let self = this
      this.$axios.get(url)
        .then (function(response) {
          self.posts = response.data.data
        })
    },
  }
}
</script>