<template>
  <v-row align="center" no-gutters justify="center">
    <v-col cols="12" md="8" sm="8">
      <v-card class="elevation-12">
        <v-window v-model="step">
          <v-window-item :value="1">
            <v-row>
              <v-col cols="12" md="8">
                <v-card-text class="mt-12">
                  <h1 class="text-center display-1 teal--text text--accent-3">Sign in</h1>
                  <v-form>
                    <v-text-field
                      label="email"
                      name="email"
                      v-model="email"
                      prepend-icon="mdi-email"
                      color="teal accent-3"
                    />
                    <v-text-field
                      label="password"
                      name="password"
                      v-model="password"
                      prepend-icon="mdi-lock"
                      type="password"
                      color="teal accent-3"
                    />
                  </v-form>
                  <h3 class="text-center mt-3"> Forget password ??</h3>
                  <div class="text-center mt-3">
                  <v-btn rounded  @click="login"  color="teal accent-3" dark> Sign In </v-btn>
                </div>
                </v-card-text>
              </v-col>
              <v-col cols="12" md="4" class="teal accent-3">
                <v-card-text class="white--text mt-12">
                  <h1 class="text-center display-1"> hello word </h1>
                  <h5 class="text-center">Sign up here</h5>
                </v-card-text>
                <div class="text-center">
                  <v-btn rounded outlined="" dark @click="step++"> Sign Up</v-btn>
                </div>
              </v-col>
            </v-row>
          </v-window-item>
          <v-window-item :value="2">
            <v-row class="full-height">
              <v-col cols="12" md="4" class="teal accent-3">
                <v-card-text class="white--text mt-12">
                  <h1 class="text-center display-1">Welcome Back</h1>
                  <h4 class="text-center">To keep connected with us</h4>
                </v-card-text>
                <div class="text-center">
                  <v-btn rounded outlined dark @click="step--">Sign In</v-btn>
                </div>
                </v-col>
                <v-col cols="12" md="8">
                  <v-card-text class="mt-12">
                    <h1 class="text-center display-1 teal--text text--accent-3">Create an Account</h1>
                    <v-form>
                    <v-text-field
                      label="name"
                      prepend-icon="mdi-account"
                      type="text"
                      v-model="add.name"
                      color="teal accent-3"
                    />
                    <v-text-field
                      label="email"
                      v-model="add.email"
                      prepend-icon="mdi-email"
                      type="email"
                      color="teal accent-3"
                     />
                      <v-file-input
                        label="Select profile images"
                        filled
                        prepend-icon="mdi-camera"
                        v-model="add.file"
                    ></v-file-input>
                    <v-text-field
                      label="password"
                      v-model="add.password"
                      prepend-icon="mdi-lock"
                      type="password"
                      color="teal accent-3"
                    />
                  </v-form>
                </v-card-text>
                <div class="text-center mt-3">
                  <v-btn rounded  @click="register" color="teal accent-3" dark> Sign Up </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-window-item>
        </v-window>
         <v-snackbar/>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
  export default {
    data() {
      return {
        step:1,
        email: '',
        password: '',
        add:{
          name:'',
          email: '',
          file: '',
         password: '',
        }
      }
    },
    methods:{
        async login(){   
        let self = this 
        try {
          await this.$auth.loginWith('local', {
            data: {
              email: this.email,
              password: this.password
           }
          })
          this.$router.push({
              path: this.$route.query.redirect || "/dashboard"
          })
        } catch (e) {
          self.$toast.error('Invalid login')
        } 
      },
      async register(){
        const url = '/register/'
        let self = this
        let formData = new FormData()
        formData.append('profile_image', this.add.file)
         formData.append('name', this.add.name)
          formData.append('email', this.add.email)
           formData.append('password', this.add.password)
          this.$axios.post(url, formData)
            .then (function(response) {
              self.$toast('User added successfully')
            })
          .catch(function (error) {
            self.$toast.error('There was a problem.')
          })
      }
    }
  }
</script>